@use "../../styles/tokens.scss" as *;

.card {
  width: 100%;
  background-color: $color-bg-100;
  border-radius: $radius-lg;
  padding: $padding-md $padding-md;

  .title {
    font-size: $title-sm;
    margin-bottom: $margin-sm;
    font-weight: $font-weight-semibold;
  }

  &.secondary {
    background-color: $color-brand-100;
  }
}
