@use "../../../../styles/tokens.scss" as *;

.container {
  flex: 1;
  margin-bottom: $margin-md;
  .text {
    font-size: $title-sm;
    font-weight: $font-weight-bold;
  }

  .innerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
