@use "../../styles/tokens.scss" as *;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $color-brand-100;
}

.container > :first-child {
  width: 16rem;
  flex-shrink: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 28rem; // coluna esquerda e direita
  flex: 1; // ocupa todo o espaço restante ao lado do Menu
  min-height: 0; // fundamental para o scroll funcionar
  gap: 1rem;
  padding: 1rem;
}
.leftColumn {
  display: grid;
  grid-template-rows: auto 1fr; // BalanceCard + StatementList
  min-height: 0; // libera o StatementList para scrollar
}
