@use "../../styles/tokens.scss" as *;
@use "../../styles/mixins.scss" as *;

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $color-brand-100;
  overflow: hidden;
}

.main {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.layout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: end;
}

.content {
  padding: $padding-md;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.left {
  margin-right: $margin-md;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  height: 100%;
}
