@use "../../../../styles/tokens.scss" as *;

.container {
  flex-shrink: 0;
  padding: $padding-sm $padding-lg;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
