@use "../../../../styles/tokens.scss" as *;
@use "../../../../styles/mixins.scss" as *;

.header {
  height: $size-72;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bg-100;
  padding: $padding-lg;

  @include tablet-portrait {
    height: $size-56;
    padding: $padding-md;
  }

  .logo {
    font-size: $title-md;
    font-weight: $font-weight-semibold;
    color: $color-brand-500;
    margin-right: $margin-md;

    @include tablet-portrait {
      font-size: $title-sm;
    }
  }

  .leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 1px solid magenta;
  }
  .navList {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $body-lg;
    font-weight: $font-weight-medium;

    .navLink {
      display: inline-block;
      padding: $padding-sm $padding-md;
      color: $color-text-300;
      &:hover {
        color: $color-brand-600;
      }

      &.active {
        color: $color-primary-accent-300;
      }

      @include tablet-portrait {
        font-size: $body-sm;
      }
    }

    @include mobile-only {
      display: none;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    @include tablet-portrait {
      gap: 0.5rem;
    }

    @include mobile-only {
      display: none;
    }
  }

  .menuIcon {
    display: none;
    @include mobile-only {
      display: block;
    }
  }
}
