@use "../../../../styles/tokens.scss" as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: $margin-lg;
  font-size: $title-sm;
  font-weight: $font-weight-semibold;
}
