@use "../../../../styles/tokens.scss" as *;
@use "../../../../styles/mixins.scss" as *;

.container {
  position: relative;
  flex-shrink: 0;
  width: 14rem;
  height: 100%;
  background-color: $color-brand-400;
}

.buttons {
  margin-top: $margin-lg;
}

.isMenuClosed {
  width: 5rem;
}
