@use "../../styles/tokens.scss" as *;

.divider {
  width: 100%;
  height: $border-width-md;
  background-color: $color-border-300;
  margin: $margin-md $margin-none;

  &.thin {
    width: 100%;
    height: $border-width-sm;
  }

  &.vertical {
    width: $border-width-md;
    height: 100%;
    margin: 0 16px;

    &.thin {
      width: $border-width-sm;
    }
  }
}
