@use "styles/tokens.scss" as *;

* {
  font-family: $font-family-sans;
  margin: $margin-none;
  padding: $padding-none;
}

body {
  padding: $padding-none $padding-xl;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

li {
  list-style: none;
}

link,
a {
  text-decoration: none;
}
