@use "../../../../styles/tokens.scss" as *;
@use "../../../../styles/mixins.scss" as *;

.footer {
  font-size: $body-md;
  background-color: $color-brand-400;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: $padding-lg $padding-none;
  color: $color-text-100;

  @include mobile-only {
    flex-direction: column;
    padding: $padding-lg;
  }

  .linkItem {
    margin: $margin-md $margin-none;
    color: $color-text-100;
  }

  .title {
    font-weight: $font-weight-bold;
  }
}
